{% extends "base.html" %}

{% block title %}Newsletters Portal Subscription{% endblock %}
{% block head %}Nacho Newsletter Machine{% endblock %}


{% block content %}


<div id="main">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Subscription Detail For {{nl.title}}</h3>
</div>
<div class="panel-body">
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">Your Subscriptions</h4>
</div>
<div class="panel-body">
<table class="table">
    {% for sub in subscripts %}
    	<tr>
		    <td>{{sub.email}}</td>
            <td><a href='/subscription/unsubscribe/{{nl.id}}/{{sub.emailid}}' data-target="#main"><div id="detailed">Unsubscribe this Email from {{nl.title}}</div></a></td>
	    </tr>
    {% endfor %}
</table>
</div>
</div>
</div>
<div class="panel-body">
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">Your Emails</h4>
</div>
<div class="panel-body">
<table class="table">
	{% for mail in emailadds %}
    {% if mail.active  %}
	    <tr>
		    <td>{{mail.email}}</td>
            <td><a href='/subscription/subscribe/{{nl.id}}/{{mail.id}}' data-target="#main"><div id="detailed">Subscribe this Email to {{nl.title}}</div></a></td>
	    </tr>
    {% endif %}
	{% endfor %}
</table>
</div>
</div>
</div>
</div>
</div> <!-- end div main -->
{% endblock %}

