{% extends "base.html" %}

{% block title %}Newsletters Portal{% endblock %}
{% block head %}Nacho Newsletter Machine{% endblock %}

{% block content %}
<div class="panel panel-default">
<div class="panel-heading"><h4>Newsletters</h4></div>
<div class="panel-body">
{% if sendables %}
        <ul class="list-group">
    {% for sendable in sendables %}
        <li class="list-group-item">
		{% if accstat %}
		   <span class="glyphicon glyphicon-envelope"></span> <a href="/newsletter/{{ sendable.id }}/">{{ sendable.title }}</a>
        {% else %}
            {{ sendable.title }}
        {% endif %}
	</li>

    {% endfor %}
    </ul>
	<p style="text-align: right">Total <span class="glyphicon glyphicon-envelope"> : {{count}} </span></p> 
{% else %}
    <p>No newsletters are available.</p>
{% endif %}
</div>
</div>

{% endblock %}

