{% extends "base.html" %}

{% block title %}Newsletters Portal{% endblock %}
{% block head %}Nacho Newsletter Machine{% endblock %}

{% block content %}

{% if problem %}
{{ problem }}
{% endif %}

<div class="alert alert-warning">This functionality is not completed, 
and will cause validation errors if duplicate emails are encountered. Apologies.</div>

<h3>Mail Management (Super-Alpha: TODO)</h3>
<p>You have <b>{{ emailadds|length }} </b>mails on record.<br /></p>
<form action="{{ action }}" method="POST">
  {% csrf_token %}
  <ul>
    {{ form.as_ul }}
  </ul>
  <input type="submit" value="Save Another" class="btn btn-default"/>
</form>

<h4>Mails</h4>
<table>
{% for email in emailadds %}
    <tr>
        <td>{{email.email}}</td><td>&nbsp;</td>
        <td><a href='/newsletter/managemails/{{email.id}}/'>[X]</a></td>
    </tr>    
{% endfor %}
</table>

{% endblock %}

