{% extends "base.html" %}

{% block title %}Newsletters Portal{% endblock %}
{% block head %}Nacho Newsletter Machine{% endblock %}

{% block content %}

<h3>Newsletters</h3>
{% if sendables %}
    There are {{count}} newsletters available to our users:
    <ul>
    {% for sendable in sendables %}
        <li>{{ sendable.title }}</li>
    {% endfor %}
    </ul>
    <p>
    To be able to sign up for these, you need to be activated.
    </p>
{% else %}
    <p>No newsletters are available to our guests! Please sign up to see our content</p>
{% endif %}

{% endblock %}

