<html>
    <head>
        <title>Register For Your Daily Dose</title>
    </head>
    <body>
        <h2>Register For Nacho</h2>
        <form action="/accounts/register/" method="POST">{% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
        <p>
            <input type="submit" value="Submit" />
        </p>
	Please check your email for an activation link after submitting this form.
	<br />
	Our server is insanely cheap, so it might take up to 2 minutes to arrive!
        </form>
    </body>
</html>

