<html>
    <head>
        <title>{% block title %}{% endblock %} </title>
	<link href="/static/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/bootstrap-theme.min.css">
	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
	<div class="container">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/static/bootstrap.min.js"></script>
	<div class="container">
	<div class="jumbotron">
        <h1 style="text-align:right">{% block head %}{% endblock %}</h1>
	<h3 style="text-align: right"><i>We put cheese in your inbox.</i></h3>
	<a href="/newsletter/"><img src="/static/nachojose.png" alt="Go away copyright police" /></a>
	
	<p>
   	{% if user.is_authenticated %}
		<span class="label label-success">Welcome {{user.first_name}}!</span>
		<span class="label label-default">You've been a nacho since <i>{{user.date_joined}}</i></span>
	{% endif %}
	</p>
	</div>

{% if user.is_authenticated %}
<p style="text-align: right">
Your account status is {% if accstat %}<span class="label label-success">Active</span> {% else %} <span class="label label-warning">Pending Activation</span> {% endif %}
<br />Want to <a href="/newsletter/managemails">manipulate</a> your mail addresses?
</p>
{% endif %}

	{% block content %}{% endblock %}

	
	<div id='footer'>

	{% if user.is_authenticated %}
		<div class="well well-sm">
		<div class="btn-group">
		<button type="button" class="btn btn-default">Logged in as {{user.username}} ( {{user.email}} )</button>
		
		<button type="button" class="btn btn-default" onclick="window.location.href='/accounts/logout/?next=/newsletter/'">Sign Out</button>
		{% if user.is_staff and user.is_active %}
			<button type="button" class="btn btn-default" onclick="window.location.href='/admin/'">Administration</button>
			<button type="button" class="btn btn-default" onclick="window.location.href='/newsletter/maildispatch/'">Dispatch Mails</button>
		{% endif %} 
		
		</div>
		</div>
	{% else %}
		<div class="container">
		<div class="btn-group">

		<button type="button" class="btn btn-default" onclick="window.location.href='/accounts/login/?next=/newsletter/'">Sign In</button>
		<button type="button" class="btn btn-default" onclick="window.location.href='/accounts/register/'">Sign Up</button>
		</div>
		</div>
	{% endif %}
	</div>
	<hr width='50%'/>
	</div>
    </body>
</html>

